#skill-tree {
  max-width: 70%;
  background-color: #ffffff;
  border-radius: 5px;
  margin: 10px;
  display: grid;
}

@media only screen and (max-width: 600px) {
  #skill-tree {
    max-width: 100%;
    background-color: lightgrey;
    margin: 0;
  }
}

.level-selector {
  /* flex-basis: 40%; */
  padding: 20px;
}

.game-icon {
  width: 30%;
}

.green-feedback {
  background-color: rgb(176, 247, 176);
  border: 1px solid, rgb(176, 247, 176);
  border-radius: 5%;
  color: rgb(68, 110, 68);
}

.red-feedback {
  background-color: rgb(247, 176, 176);
  border: 1px solid, rgb(247, 176, 176);
  border-radius: 5%;
  color: rgb(110, 68, 68);
}
