* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* border: 1px solid red; */
}

html {
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: monospace;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
  font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.game-icon {
  width: 100px;
}

/* MODULAR STYLE PROPERTIES */

.card {
  border-radius: 6px;
  /* border: 1px solid #433f663b; */
  /* box-shadow: 1px 3px 3px rgba(141, 141, 141, 0.868); */
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.08), 0 5px 5px 0 rgba(0, 0, 0, 0.04);
  background-color: rgba(255, 255, 255, 0.5);
  height: 100%;
}

.card-header {
  text-decoration: underline;
  /* color: #433f66; */
  margin-bottom: 16px;
  /* padding-bottom: 3px; */
  /* border-bottom: 2px solid black; */
}

.border-top {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  margin: 20px auto;
  width: 90%;
}

/* NAVBAR */

nav {
  background-color: #bcb5fa;
  display: flex;
  justify-content: space-between;
  padding: 12px 3% 12px 3%;
}

.navbar-item {
  margin: 0px 10px;
}

.navbar-item h2 {
  color: white;
  font-weight: 600;
  font-size: 18px;
}

.navbar-item h2:hover {
  color: #433f66;
}

.navbar-item h1:hover {
  color: #433f66;
}

nav div {
  display: flex;
  align-items: center;
}

#title h1 {
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #433f66;
}

#title h1:hover {
  color: white;
}

/* HOME PAGE / LEVEL DISPLAY */

.home {
  display: flex;
  justify-content: center;
  padding: 3%;
  /* background: linear-gradient(#bcb5fa, #433f66); */
  /* background:  #ddd; */
  background-color: #eeeeff;
  min-height: 100vh;
}

/* SKILL TREE */

#skill-tree {
  width: 50%;
  margin-right: 5%;
  padding: 15px;
}

#skill-tree a {
  color: black;
}

.level-selector {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  text-align: center;
  padding: 15px;
}

/* SIDE PANEL */

#sidebar > div {
  padding: 25px;
}

#sidebar p {
  font-size: 16px;
}

#side-panel-level {
  padding-bottom: 10px;
}

#user-score {
  margin-bottom: 20px;
}

/* LOGIN/SIGNUP PAGE */

.form {
  max-width: 500px;
  margin: 30px auto;
  padding: 30px 50px;
  /* text-align: center; */
}

.form input {
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  font-size: 14px;
  border-radius: 6px;
}

.form button {
  text-transform: uppercase;
  font-weight: 700;
  background: #433f66;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #ffffff;
  font-size: 16px;
  cursor: pointer;
  border-radius: 6px;
}

.form button:hover {
  background: #2c2a3d;
}

.form-message p {
  text-align: center;
  margin-top: 16px;
  /* text-decoration: underline; */
}

/* QUESTIONS */

.question {
  text-align: center;
  max-width: 500px;
  margin: 30px auto;
  padding: 30px 50px;
}

.question-submit button {
  text-transform: uppercase;
  font-weight: 700;
  background: #433f66;
  width: 40%;
  border: 0;
  padding: 15px;
  color: #ffffff;
  font-size: 16px;
  cursor: pointer;
  border-radius: 6px;
}

.question-submit button:hover {
  background: #2c2a3d;
}

.answer-option {
  width: 80%;
  /* text-transform: uppercase; */
  font-weight: 700;
  /* background: #433f66; */
  width: 100%;
  border: 0;
  padding: 15px;
  /* color: #FFFFFF; */
  font-size: 16px;
  cursor: pointer;
  border-radius: 6px;
  margin: 5px;
}

#green-feedback {
  margin-top: 10px;
  background-color: #b8d8ba;
}

#red-feedback {
  margin-top: 10px;
  background-color: #ef959d;
}

.reveal-info {
  border: 1px solid black;
  color: white;
  background-color: black;
  font-size: 15px;
  margin-top: 5px;
}

/* LEADERBOARD */

#leaderboard {
  max-width: 500px;
  margin: 30px auto;
  padding: 30px 50px;
}

/* PROGRESS BAR */

.progress-bar {
  position: relative;
  height: 20px;
  border-radius: 50px;
  border: 1px solid #bbb;
  margin-bottom: 20px;
}

.filler {
  background: #bcb5fa;
  height: 100%;
  border-radius: 16px;
  transition: width 0.2s ease-in;
  /* padding-bottom: 10px; */
}

/* MEDIA QUERIES */

@media screen and (max-width: 600px) {
  nav {
    flex-direction: column;
    align-items: center;
  }
  nav h1 {
    padding-bottom: 5px;
  }
  .card {
    /* border: 1px solid #433f663b; */
    border: none;
    box-shadow: none;
    background-color: rgba(255, 255, 255, 0.9);
  }
  .home {
    flex-direction: column;
  }
  .home div {
    padding: 0;
    margin: 0;
  }
  #skill-tree {
    width: 100%;
    margin-bottom: 20px;
  }
  #side-panel {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  #leaderboard {
    margin: 0;
    padding: 0;
  }
  .question {
    padding: 20px;
    margin: 0;
  }
  #skill-tree div {
    padding: 10px;
  }
}
